.footer-container{
    background-color: #f19914;
    padding: 20px;
    margin-left: 14%;
    margin-top: 3%;
    text-align: center;
}

.footer-text1{
font-size: 18px;
font-weight: 500;
}

.footer-text2{
font-size: 16px;
}

body.dark-mode .footer-container{
    background-color: #171717;
    color: #f19914;
}
@media (max-width: 768px) {
    .footer-container{
        margin-left: 0;
    }
    .footer-text1{
        font-size: 16px;
    }
    .footer-text2{
        font-size: 14px;
    }

  }
  
