.footer-container{
    background-color: #f19914;
    padding: 20px;
    margin-left: 14%;
    margin-top: 3%;
    text-align: center;
}

.footer-text1{
font-size: 20px;
font-weight: 500;
}

.footer-text2{
font-size: 18px;
}