
.movie-list-content{
    margin-left: 270px;
    padding-top: 630px; 
    display: flex;
    flex-direction: column;
  }


@media (max-width: 480px) {
  .movie-list-content{
    margin-left: 0;
  }

}