body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
  display: flex;
  justify-content: center; 
  min-height: 100vh;
}

.app {
  width: 100%; 
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  position: relative;
}


@media (max-width: 1400px) {
  .app{
    width: 100%; 
  }
}
